/*header section*/
*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: url(assignmentimage/Banner\ Image.png);
    max-width: 1320px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);



}
.banner{
    color: #fff;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size:32px;
    font-weight:400;
    padding-top: 200px;
    
}
.banner-title{
    color: #fff;

text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px
}
.second-section{
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 80px;
}
.second{
    color: #F00;
font-size: 88px;
font-weight: 700;
line-height: normal;
margin: 40px;
}
.second-para{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.second-title{
    color: #070211;
font-size: 48px;
font-weight: 700;
margin-bottom: 40px;

}
.third-section{
    background-image: url(assignmentimage/Vectorrr.png);
    width: 1320px;
height: 600px;
margin: 0 auto;
}
.third-section,.third-pic{
    display: flex;
}
.third-pic{
    margin:80px 0px 40px 30px ;
}
.third{
    color:#fff;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
padding-top: 100px;
margin-left: 100px;
color:#070211, #07021100;


}
.third-para{
    color: rgba(255, 255, 255, 0.80);



font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
padding-top: 30px;
padding-bottom: 30px;
margin-left: 100px;
}
.third-title{
    color:#fff;
 font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 100px;
}
